chatbot.json
{
  "name": "chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        -32
      ],
      "id": "aaec0f94-9d88-4867-b5af-4e63b500748a",
      "name": "Telegram Trigger",
      "webhookId": "tele-ai-agent",
      "credentials": {
        "telegramApi": {
          "id": "omCiMLYdYkM80clu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Anda adalah Asisten Digital yang cerdas, ramah, dan serba tahu.\n\nJawablah pertanyaan apa pun yang diajukan pengguna dengan jelas dan akurat.\n\nJika pertanyaan berkaitan dengan teknologi atau pemrograman, berikan penjelasan yang mudah dimengerti.\n\nGunakan bahasa Indonesia yang santai namun sopan.\n\nGunakan emoji agar percakapan terasa hidup dan tidak kaku.\n\nIngat konteks percakapan sebelumnya agar jawaban tetap nyambung."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        256,
        -32
      ],
      "id": "21eb4cd3-8c59-4eb4-97db-259d5ba407d7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        192
      ],
      "id": "f7811444-2d13-4d1a-b474-551ed6b0acf1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "E27Fe8q50cNL7sbM",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        -32
      ],
      "id": "474d9a85-bd79-4ea2-847d-9ba7343e18b8",
      "name": "Telegram Send",
      "webhookId": "e84ba7cd-da31-49be-ad72-bcda14953cd2",
      "credentials": {
        "telegramApi": {
          "id": "omCiMLYdYkM80clu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        160
      ],
      "id": "932406f5-02e4-4876-8f7d-118ed83ade2d",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ff45b763-bfda-416f-ba8f-a2a9014bb525",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b47745a54fd123fa9b3161b62aa5a4a0101dc73f1c3adf8b490ec9bd0e96ea2"
  },
  "id": "VO65RSZvVonaI1wT",
  "tags": []
}