RAG (1).json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -32
      ],
      "id": "6c712443-3f9a-4d97-b560-cf8c711f193a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1he5idmRUhjT0IrYdw_LXEflkIavdO0CU",
          "mode": "list",
          "cachedResultName": "Panduan Penulisan Ilmiah Tugas Akhir Skripsi.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1he5idmRUhjT0IrYdw_LXEflkIavdO0CU/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        -32
      ],
      "id": "423caeba-20e8-4f42-89d0-90c2c6bd051d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LXmzBMzUP5pR7HHm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        384,
        -32
      ],
      "id": "724bae7b-0c82-4ad8-8710-147295bb04b2",
      "name": "Supabase Vector Store (RAG Pipeline)",
      "credentials": {
        "supabaseApi": {
          "id": "hd6f6CSFjKwDzRqj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        704,
        128
      ],
      "id": "6c4b40c4-96dc-471d-a2e6-0edf545f3236",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        240
      ],
      "id": "e7bbb203-fca9-4605-8ea7-7ac92f6377ba",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "E27Fe8q50cNL7sbM",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -240,
        352
      ],
      "id": "bbc88006-6b89-42cb-a39d-df1f84e2b3a5",
      "name": "When chat message received",
      "webhookId": "b2ab5aff-05b3-4f20-9500-00d53ef2da75",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "{{ $json.chatInput }}",
        "options": {
          "systemMessage": "Anda adalah asisten yang membantu mahasiswa menulis skripsi.\nGunakan tool yang tersedia untuk mencari informasi dari database panduan skripsi.\nJika tool tidak menemukan informasi, katakan \"Maaf, saya tidak menemukan informasi tentang itu di database.\"\nJangan menjawab berdasarkan pengetahuan Anda sendiri."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        352
      ],
      "id": "455c8c8f-4a04-44a6-b595-74d0d9031bd8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        576
      ],
      "id": "5ee4cf6a-6298-4d63-8364-8d8414bfb518",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "E27Fe8q50cNL7sbM",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan tool ini untuk mencari informasi tentang panduan penulisan ilmiah tugas akhir/skripsi, termasuk panduan menulis Bab 1, Bab 2, Bab 3, Bab 4, dan Bab 5.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        592,
        448
      ],
      "id": "1b0c936a-9200-4ecc-9154-047ed623274c",
      "name": "Supabase Vector Store (Tool)",
      "credentials": {
        "supabaseApi": {
          "id": "hd6f6CSFjKwDzRqj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "=customKey",
        "sessionKey": "=={{$json.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        80,
        544
      ],
      "id": "35803b64-681b-42a5-9e42-4e60fe2a2304",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "r5LucIPwtsWMpwgj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        432,
        352
      ],
      "id": "955892d7-9a10-4c19-813a-43ff4284bea4",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store (RAG Pipeline)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store (RAG Pipeline)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store (RAG Pipeline)",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store (Tool)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store (Tool)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ba7921c1-2e7a-417c-a862-8517f9ce9959",
  "meta": {
    "instanceId": "1b47745a54fd123fa9b3161b62aa5a4a0101dc73f1c3adf8b490ec9bd0e96ea2"
  },
  "id": "N1T6Q0vz34yk96XQ",
  "tags": []
}